# Dependencies
node_modules/
dist/
build/
.pnpm-store/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
env/
venv/
.venv
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*. cover
.hypothesis/
.pytest_cache/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
*. iml

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Misc
.env
.env.local
.env.*.local

# React Native
. watchmanconfig
.metrorc
android/
ios/
. bundle/
GoogleService-Info.plist
packages/rust-core/target/debug/
packages/rust-core/target/tmp/
packages/rust-core/target/release/
